.container-body {
  margin-top: 20px;
  margin-left: 225px;
  padding: 0 19px 32px;

  h1 {
    text-align: center;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .edit-btn {
      &:hover {
        background-color: #c5c5c5;
        color: #fff;
      }

      padding: 10px;
      border-radius: 8px;

      background-color: #d3d3d3;
      cursor: pointer;
      border: none;
      color: black;
      font-weight: 800;
      margin-right: 5px;

    }

    .delete-btn {
      &:hover {
        background-color: rgba(255, 0, 0, 0.78);
        color: #fff;
      }

      padding: 10px;
      border-radius: 8px;
      background-color: rgba(255, 0, 0, 0.66);
      cursor: pointer;
      border: none;
      color: black;
      font-weight: 800;
      margin-right: 5px;


    }

  }

  .loader-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #5c636e;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }

  }

  .comment {

    padding: 10px;
    margin: 10px;
    background-color: #d7d7d7;
    color: black;

    .comment-info {

      p, h4 {
        letter-spacing: 1.5px;
      }
    }

  }

  .post {

    padding: 10px;
    margin: 10px;
    background-color: #d7d7d7;
    color: black;

    .post-info {

      p, h4 {
        letter-spacing: 1.5px;
      }
    }

  }

  .user {


    .user-info {

      p, h4 {
        letter-spacing: 1.5px;
      }
    }

  }

}

//my
.edit-section {



  .container {
    .heading-item {
      display: flex;
      justify-content: center;

      .text-center {
        margin-bottom: 3rem;

        h2 {
          font-size: 28px;
          color: #000;
        }
      }
    }

    .body-item {
      display: flex;
      justify-content: center;

      .body-section {
        width: 100%;

        .wrapper {
          box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);

          .row-body {
            display: flex;

            .item-right {


              .contact-wrap {

                padding: 3rem;

                h3 {

                }

                form {
                  .row-form {
                    display: flex;
                    flex-direction: column;

                    .form-item {

                      .form-group {
                        margin-bottom: 1rem;
                        display: flex;
                        flex-direction: column;


                        input {
                          font-size: 16px;
                          border: none;
                          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                          padding: 0;
                          height: 36px;
                          background: #fff;
                          color: rgba(0, 0, 0, 0.8);


                        }

                      }

                      .form-group-1 {
                        margin-bottom: 1rem;
                        display: flex;
                        flex-direction: column;

                        input {
                          border: none;
                          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                          padding: 0;
                          height: 36px;
                          background: #fff;
                          color: rgba(0, 0, 0, 0.8);

                        }

                        textarea {
                          border: none;
                          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                          padding: 0;

                        }
                      }

                    }

                    .btn-auth {
                      margin-top: 32px;
                      cursor: pointer;
                      height: 48px;
                      font-size: 16px;
                      width: 100%;
                      border-radius: 8px;
                      color: #28192d;
                      background-color: #eea941;
                      border: none;
                      font-weight: 500;

                      &:hover {
                        box-shadow: 0 0 4px rgb(90 93 99 / 14%), 0 2px 14px rgb(238 169 65 / 21%);
                      }
                    }
                  }

                }
              }

            }

            .item-left {
              width: 100%;
              background: #eea941;

              .info-wrap {
                color: #fff;
                padding: 3rem;

                h3 {

                }

                p {

                }

                .left-box {
                  display: flex;
                  align-items: center;
                  color: rgba(255, 255, 255, 0.8);
                  margin-bottom: 25px;

                  .icon-left-box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50% !important;
                    border: 2px solid rgba(255, 255, 255, 0.2);

                    span {

                    }
                  }

                  .text-left-box {
                    padding-left: 1rem;

                    p {
                      span {

                      }
                    }
                  }
                }
              }

            }
          }
        }
      }

    }
  }
}



/* General button style */
.btn {
  margin: 5px;
  border: none;
  font-family: 'Lato';
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}


/* Icon separator */
.btn-sep {
  padding: 15px 40px 15px 80px;
}

.btn-sep:before {
  background: rgba(0,0,0,0.15);
}
/* Button 1 */
.btn-1 {
  background: #3498db;
  color: #fff;
}

.btn-1:hover {
  background: #2980b9;
}

.btn-1:active {
  background: #2980b9;
  top: 2px;
}

.btn-1:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 120%;
  width: 60px;
}
.btn-2 {
  background: #2ecc71;
  color: #fff;
}

.btn-2:hover {
  background: #27ae60;
}

.btn-2:active {
  background: #27ae60;
  top: 2px;
}

.btn-2:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 120%;
  width: 50px;
}

/* Button 3 */
.btn-3 {
  background: #e74c3c;
  color: #fff;
}

.btn-3:hover {
  background: #c0392b;
}

.btn-3:active {
  background: #c0392b;
  top: 2px;
}

.btn-3:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 120%;
  width: 60px;
}
.icon-cart:before {
  content: "\f00c";
  top: 0;
  bottom: 0;
}
.icon-heart:before {
  content: "\f00d";
}
.icon-info:before {
  content: "\f055";
}
